1. Write a Python program to print "Hello, World!

In [ ]:
print("Hello World!")

Hello World!

2. Write a Python program that displays your name and age

In [ ]:
name = "Jatin"
age = 23
print("Name:", name)
print("Age:", age)

Name: Jatin
Age: 23

3. Write code to print all the pre-defined keywords in Python using the keyword library

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

4. Write a program that checks if a given word is a Python keyword.

In [ ]:
# Function to check if a word is a Python keyword
def check_keyword(word):
    if keyword.iskeyword(word):
        print(f"'{word}' is a Python keyword.")
    else:
        print(f"'{word}' is not a Python keyword.")

# Input word
word = input("Enter a word: ")

# Check if the word is a Python keyword
check_keyword(word)

Enter a word: jatin
'jatin' is not a Python keyword.

5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_list[2] = 99  # Changing the element at index 2
print(my_list)

[1, 2, 99, 4, 5]

In [ ]:
my_tuple[2] = 99 #changing the element at index 2 in tuple
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

6. Write a function to demonstrate the behavior of mutable and immutable arguments

In [ ]:
list_cont = [1, 2, 3, 4.3, 3+5j, True, "Ajay"]
list_cont

[1, 2, 3, 4.3, (3+5j), True, 'Ajay']

In [ ]:
#mutability
list_cont[6] = "Bijay"
list_cont

[1, 2, 3, 4.3, (3+5j), True, 'Bijay']

In [ ]:
#immutable
b = "pwskills"
b

'pwskills'

In [ ]:
b[0] = "I"

TypeError: 'str' object does not support item assignment

8. Write a program to demonstrate the use of logical operators

In [19]:
x = 10
y = 20
print("x > 0 and x < 10:",x > 0 and x < 10)
print("x > 0 and y > 10:",x > 0 and y > 10)
print("x > 10 or y > 10:",x > 10 or y > 10)
print ("not (x+y>15):", not (x+y)>15)

x > 0 and x < 10: False
x > 0 and y > 10: True
x > 10 or y > 10: True
not (x+y>15): False

9. Write a Python program to convert user input from string to integer, float, and boolean types

int

In [26]:
#string to integer
a = "2"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [27]:
#float to integer
b = 6.78
print(type(b))
print(type(int(b)))

<class 'float'>
<class 'int'>

In [28]:
# boolean to integer
c = True
print(type(c))
print(type(int(c)))

<class 'bool'>
<class 'int'>

10. Write code to demonstrate type casting with list elements

In [31]:
def type_casting_with_list():
    # Initial list with elements of different types (as strings)
    mixed_list = ["1", "3.14", "True", "42", "False"]

    # Convert the string elements to the appropriate types
    int_list = [int(x) if x.isdigit() else 0 for x in mixed_list]  # Convert to integers where possible
    float_list = [float(x) if x.replace('.', '', 1).isdigit() else 0.0 for x in mixed_list]  # Convert to floats
    bool_list = [bool(x) for x in mixed_list]  # Convert to boolean values

    # Print results
    print(f"Original List: {mixed_list}")
    print(f"List after casting to integers: {int_list}")
    print(f"List after casting to floats: {float_list}")
    print(f"List after casting to booleans: {bool_list}")

type_casting_with_list()

Original List: ['1', '3.14', 'True', '42', 'False']
List after casting to integers: [1, 0, 0, 42, 0]
List after casting to floats: [1.0, 3.14, 0.0, 42.0, 0.0]
List after casting to booleans: [True, True, True, True, True]

11. Write a program that checks if a number is positive, negative, or zero

In [33]:
def check_number():
    # Get input from the user
    number = float(input("Enter a number: "))

    # Check if the number is positive, negative, or zero
    if number > 0:
        print(f"The number {number} is positive.")
    elif number < 0:
        print(f"The number {number} is negative.")
    else:
        print(f"The number {number} is zero.")
check_number()

Enter a number: 5
The number 5.0 is positive.

12. Write a for loop to print numbers from 1 to 100

In [35]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

13. Write a Python program to find the sum of all even numbers between 1 and 50

In [36]:
# Initialize the sum to 0
even_sum = 0

# Loop through numbers from 1 to 50
for i in range(1, 51):
    if i % 2 == 0:  # Check if the number is even
        even_sum += i  # Add the even number to the sum

print(f"The sum of all even numbers between 1 and 50 is: {even_sum}")

The sum of all even numbers between 1 and 50 is: 650

14. Write a program to reverse a string using a while loop

In [37]:
def reverse_string(input_string):
    # Initialize an empty string to store the reversed string
    reversed_string = ""

    # Set a variable for the last index of the string
    index = len(input_string) - 1

    # Loop through the string in reverse order
    while index >= 0:
        reversed_string += input_string[index]  # Append the character to the reversed string
        index -= 1  # Move to the previous character

    return reversed_string

input_string = input("Enter a string to reverse: ")
result = reverse_string(input_string)
print(f"Reversed string: {result}")

Enter a string to reverse: 25
Reversed string: 52

15. Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [39]:
def calculate_factorial():
    # Get user input
    num = int(input("Enter a number to calculate its factorial: "))

    # Initialize variables
    factorial = 1
    counter = num

    # Check if the number is negative, as factorial for negative numbers is undefined
    if num < 0:
        print("Factorial is not defined for negative numbers.")
        return

    # Use while loop to calculate the factorial
    while counter > 1:
        factorial *= counter  # Multiply the current factorial by the counter
        counter -= 1  # Decrease counter

    # Print the result
    print(f"The factorial of {num} is {factorial}")

# Call the function
calculate_factorial()

Enter a number to calculate its factorial: 12
The factorial of 12 is 479001600